


#BackGroundPicture>img{
    position: relative;
    width: 100%;
    
}
#profileDetails{
    
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    transform: translateY(-2.5rem);
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #A6A5A5;
}
#profileDetails .names{
    font-size: 1.5rem;
}
#profileDetails .names #name{
    text-transform: capitalize;
    font-weight: 500;
}
#profileDetails .names #email{
    font-weight: 300;
    font-size: 1rem;
    color: #757171;
}
#ProfilePicture>img{

width: 100%;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}
#profileDetails #actions{
    margin-top: 2.5rem;
}

#profileDetails #actions #Edit{
    padding: 0.2rem 0.8rem;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    background-color: #0A61AE;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}
#profileDetails #actions #Edit:hover{
    opacity: 1;
}
