#UserProfile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
}
.profileTop{
    
    display: flex;
    justify-content:flex-start;
    flex-direction: column;
    height: 329px;
    margin: 0 auto;
    margin-top: 1rem;
    background: transparent;
}
