#Address-Component {
    width: 100%;
    margin: 0.2rem auto;
}

#Address-Component .header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
}

#Address-Component #Edit-AddressDetails {
    width: 100%;
    margin: 0.5rem auto;
}

#Address-Component #AddressDetails1 {
    width: 100%;
    margin: 0.2rem auto;
}