
#EduForm{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    width: 100%;
    background-color: transparent;
}


#EduDetails{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    width: 100%;
    background:transparent;

}

#EduDetails .inputBox{
    margin: 0.5rem 0rem;
    
}