#EduDetails-Component{
    width: 100%;
    margin: 0.2rem auto ;
}
#EduDetails-Component .header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
}

#EduDetails-Component #Edit-EduDetails{
    width: 100%;
    margin: 0.5rem auto;
}
#EduDetails-Component #EduDetails1{
    width: 100%;
    margin: 0.2rem auto;
}