
#CrsForm{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    width: 100%;
    background-color: transparent;
}


#CourseForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    width: 100%;
    background:transparent;

}

#CourseForm .inputBox{
    margin: 0.3rem 0rem;

}