#Course-Component{
    width: 100%;
    margin: 0.2rem auto;
}

#Course-Component .header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
}
#CourseCard{
    text-transform: capitalize;
}