#Me-Component{
    width: 100%;
    margin: 0.2rem auto ;
}
#Me-Component .header{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0.5rem auto;
}

#Me-Component #Edit-Me{
    width: 100%;
    margin: 0.5rem auto;
}
#Me-Component #me1{
    width: 100%;
    margin: 0.2rem auto;
}